.winTitle {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 36px;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    z-index: 1000;
    color: white;
    font-family: "Mortal Kombat 3";
}

.reloadWrap {
    position: absolute;
    top: 10%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, 0%);
}

.reloadWrap .button {
    margin-top: 0;
}

.hidden {
    visibility: hidden;
}

.start, .end, .draw {
    color: #f5d100;
}

.hit {
    color: #cd0e03;
}

.defence {
    color: #00d600;
}